<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{%url "home"%}">Pathpuja</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" href="{%url "home"%}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{%url "puja_list"%}">Pujas</a>
        </li>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ">
          <li class="nav-item btn btn-sm btn-info">
            <a class="nav-link active" aria-current="page" href="{%url "register"%}">Register account</a>
          </li>
          <li class="nav-item btn btn-sm btn-link">
            <a class="nav-link" href="{%url "login"%}">Login</a>
          </li>			
          </ul>	
        </div>	  
      </ul>
    </div>
  </nav>
</div>