{%extends "main.html"%}
{% load static %}
{%block title%}Puja List{%endblock title%}

{%block content%}
<style>
  .puja-list{
    display:flex;
    flex-wrap: wrap;
  }
  .puja{
    text-align:center;
    font-size:20px;
    margin:10px;
    border:1px solid #ccc;
    padding:5px;
    border-radius:5px;
    min-width:150px;
    box-shadow: 10px 10px 10px rgba(247, 96, 2, 0.1);

  }
  .puja:hover{
    scale: 1.05;

  }
  .puja-name a{
    text-decoration: none;
    color:crimson;
  }
  .img{
    width:200px;
  }
  .title{
    text-align: center;
  }
  .puja-list a{
    text-decoration: none;
    color:black;
  }
</style>

<h1 class="title">Our services:</h1>
<div class="puja-list">
    {%for puja in pujas%}
          <a href="{%url 'puja' puja.id%}">
            <div class="puja">
              <image class="img" src="/static/images/{{puja.puja_image}}">
              <p class="puja-name">{{puja.name}}</p>
            </div>
          </a>
    {%endfor%}
</div>
{%endblock content%}